{
    "presets": [
        ["env", {
          "targets": {
            "node": "6.1.0"
          },
          "debug": true
        }]
    ],
    "plugins": ["transform-runtime","transform-flow-strip-types",["import", { "libraryName": "webpack" }]],
    "ignore": ["node_modules"]
}